.profile {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 1px solid rgb(218, 225, 235);
  background-color: #fff;
  color: rgb(25, 40, 59);
  box-shadow: 0 5px 12px rgba(0, 0, 0, 0.25), 0 3px 3px rgba(0, 0, 0, 0.22);
}
.description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 40px;
}
.tag,
.location,
.label {
  color: rgb(139, 152, 166);
}
.name {
  margin-top: 40px;
  margin-bottom: 5px;
}
.tag {
  margin-top: 5px;
  margin-bottom: 5px;
}
.location {
  margin-top: 5px;
  margin-bottom: 40px;
}
.stats {
  list-style: none;
  padding: 0;
  display: flex;

  justify-content: space-around;
  background-color: rgb(243, 246, 249);
}
.stats__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid rgb(218, 225, 235);
  width: calc(268px / 3);
}
.avatar {
  display: block;
  width: 100px;
  border: 1px solid rgb(218, 225, 235);
  border-radius: 50%;
}
.quantity {
  display: block;
  font-weight: bold;
}
